<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- Dashboard Tab -->
  <ion-tab title="Home" icon-off="ion-ios-home" nav-transition="ios" icon-on="ion-ios-home" href="#/tab/home">
    <ion-nav-view name="tab-home"></ion-nav-view>
  </ion-tab>

  <!-- Chats Tab -->
  <ion-tab title="Activity" icon-off="ion-beer" nav-transition="ios" icon-on="ion-beer" href="#/tab/activity">
    <ion-nav-view name="tab-activity"></ion-nav-view>
  </ion-tab>

  <!-- location Tab -->
  <ion-tab title="Near" icon-off="ion-location" nav-transition="ios" icon-on="ion-location" href="#/tab/near">
    <ion-nav-view name="tab-near"></ion-nav-view>
  </ion-tab>


</ion-tabs>
